<div class="container-fluid" style="padding: 0px;">
  <div class="row divrow">
    <div class="col-lg-4 col-md-3 col-12"></div>
    <div class="col-lg-6 col-md-7 col-12">
      <div class="container-fluid" >
        <div class="row">
          <div class="col-lg-6 col-md-6 col-12 divcol divcolborder" style="border-left: none;">
            <span> Total Installation: 358532; Last Update: 25.03.2025 </span>
          </div>
          <!-- Wrap Email and Phone inside a flex container for mobile -->
          <div class="col-lg-6 col-md-6 col-12 d-flex divcol divcolborder contact-info" style="padding: 0px;">
            <div class="email">
              <span style="color: #fff;">📧</span>
              <span>support&#64;pmsolarpumpyojna.in</span>
            </div>
            <div class="phone">
              <i class="fas fa-phone"></i> <span>7398635322</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-12"></div>
  </div>
  <div class="row align-items-center py-4">
    <div class="col-md-1"></div>
    <div class="col-12 col-md-4 text-center">
      <img src="logo.png" alt="Description" class="img-fluid" style="max-height: 50px;">
    </div>
    <div class="col-md-8 d-none d-md-block"></div>
  </div>
</div>
<app-photo-galary></app-photo-galary>
<app-formbtn></app-formbtn>
<app-yojna-det></app-yojna-det>
<app-footer></app-footer>
